body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 40px 10px 10px 10px
}

#rzpy-btn{
  margin-right: 5px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
}
.main-selection{
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 input[type='number']{
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 input[type='text'] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.expenses-list {
  margin: 20px;
  color: rgb(25, 25, 47);
}

.edit{
   margin-right: 5px;
}

